In [1]:
wine <- read.csv('../ch1/data/winequalityCLASS.csv', header=T);

In [3]:
fit.all <- glm(quality ~ alcohol, family=binomial, data=wine)

In [4]:
fit.all

Call:  glm(formula = quality ~ alcohol, family = binomial, data = wine)

Coefficients:
(Intercept)      alcohol
    -11.871        1.171

Degrees of Freedom: 1193 Total (i.e. Null);  1192 Residual
Null Deviance:	    1648
Residual Deviance: 1381 	AIC: 1385

In [5]:
summary(fit.all)

Call:
glm(formula = quality ~ alcohol, family = binomial, data = wine)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.6035  -0.9251   0.3691   0.9568   1.9246

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept) -11.87055    0.85910  -13.82   <2e-16 ***
alcohol       1.17118    0.08425   13.90   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1647.5  on 1193  degrees of freedom
Residual deviance: 1381.5  on 1192  degrees of freedom
AIC: 1385.5

Number of Fisher Scoring iterations: 4

In [7]:
fit.step <- step(fit.all, direction='both')

Start:  AIC=1385.5
quality ~ alcohol

          Df Deviance    AIC
<none>         1381.5 1385.5
- alcohol  1   1647.5 1649.5

In [9]:
p <- predict(fit.all, newdata=wine, type="response")

In [10]:
t(p)

     1         2         3         4         5         6         7
[1,] 0.2970414 0.4030065 0.4030065 0.4030065 0.2970414 0.2970414 0.2970414
     8         9         10        ⋯ 1185      1186      1187      1188
[1,] 0.4604039 0.3220627 0.2505533 ⋯ 0.9577344 0.8475065 0.8475065 0.7335025
     1189      1190      1191      1192      1193     1194
[1,] 0.3220627 0.6051272 0.7767286 0.7335025 0.518871 0.7335025

In [11]:
cutoff <- 0.5

In [12]:
yhat <- ifelse(p > cutoff, 1, 0)

In [13]:
t(yhat)

     1 2 3 4 5 6 7 8 9 10 ⋯ 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194
[1,] 0 0 0 0 0 0 0 0 0 0  ⋯ 1    1    1    1    0    1    1    1    1    1

In [14]:
tab <- table(wine$quality, yhat, dnn=c('Observed', 'Predicated'))

In [15]:
tab

        Predicated
Observed   0   1
       0 409 140
       1 204 441

In [16]:
sum(diag(tab))/sum(tab) #accuracy

[1] 0.7118928

In [17]:
tab[2,2]/sum(tab[2,]) #sensitivity

[1] 0.6837209

In [18]:
tab[1,1]/sum(tab[1,]) #specificity

[1] 0.7449909